$menu_width: 200px;
$header_height: 64px;

$section-dark-bg: #1d1d21;
$border-light-gray: #b5b5b5;

$white: #fff;
$main_dark: #1F2427;
$main_mid: #2E3239;
$text_gray: #969799;
$main_red: #FF3859;

$team_yellow: #FAD563;
$team_green: #5BB463;
$team_black: #ACA698;
$team_purple: #7E97ED;
$team_orange: #F5841F;
